
    @Html.AntiForgeryToken()
    <div class="modal fade" id="adminModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">...</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div id="adminModalBody">...</div>
                </div>
                <div class="modal-footer">
                   
                </div>
            </div>
        </div>
    </div>

