
<section class="footer-top-area">
    <div class="container">
        <div class="footer-top-container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-top-left">
                        <div class="about-us-area">
                            <a href="~/"><img src="~/Public/user/img/Footer.PNG" alt="chatluongcomputer" /></a>
                            <p>Cảm ơn bạn đã tin tưởng Chất Lượng Computer – Chất lượng là ưu tiên hàng đầu.</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                    <div class="footer-top-right-2">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="fotter-menu-widget">
                                    <div class="single-f-widget">
                                        <h2>Danh mục</h2>
                                        @Html.Action("CategoryFooter","Module")
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="fotter-menu-widget">
                                    <div class="single-f-widget">
                                        <h2>Về chúng tôi</h2>
                                        @Html.Action("ListPage","Module")
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="fotter-menu-widget">
                                    <div class="single-f-widget">
                                        <h2>HỖ TRỢ KHÁCH HÀNG</h2>
                                        <ul>
                                            <li><a href="tel:0762884181"><i class="fa fa-angle-double-right"></i>Tổng đài hỗ trợ kỹ thuật: 0866.879.248</a></li>
                                            <li><a href="mailto:siltv3665@gmail.com.vn?subject=Phản hồi về:&body=Xin vui lòng trình bày rõ vấn đề cần giải quyết: "><i class="fa fa-angle-double-right"></i>Email: nguyenxaluong@gmail.com</a></li>  
                                            <li><a href=""><i class="fa fa-angle-double-right"></i>Sơn đông, thành phố Bến Tre, tỉnh Bến Tre</a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="payment-method">
                                    <img class="img-responsive pull-right" src="~/Public/user/img/payment.png" alt="payment-method" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>