<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập quyền quản trị</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Public/admin/img/LOGO.png">
    <link href="~/Public/admins/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Public/admins/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Public/admins/style.css" rel="stylesheet" />
    <link href="~/Public/admins/css/animate.css" rel="stylesheet">
    <link href="~/Public/admins/status/css/style.css" rel="stylesheet" />
    <link href="~/Public/admins/status/css/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/Public/admins/status/css/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-recaptcha/3.0.2/angular-recaptcha.min.js" integrity="sha512-lPolLZ6HOUHdI2WF8mhGK6amwVyZKx+PQPU/cQDFy2+fooAT8P8T0oqByxKkMqczI1cV0RHUEGD9FHktGdp1tA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/Public/js/quangcao.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!--  Login.cshtml -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <center><img src="~/Public/admin/img/LOGO.PNG" height="300px" width="300px" /></center>
            <form class="m-t" id="loginForm">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Tên truy cập">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Mật khẩu" id="passwordInput">
                    <div id="capsLockWarning" style="display: none; color: red;">Caps Lock đang bật á nha</div>
                </div>
                <form method="post" action="/Account/Login">
                    <!-- Các input khác -->
                    <div class="g-recaptcha" data-sitekey="6Le0qh8rAAAAACWaiqxm-RcryQfzubm-CXG66dFj"></div>
                    <button type="submit"class="btn btn-primary block full-width m-b">Đăng nhập</button>
                </form>
               
            </form>
        </div>
    </div>

   

    


    <p class="m-t text-center"> <small>Copyright Administrators &copy; 2025</small> </p>

    <!-- Mainly scripts -->
    <script src="~/Public/admins/js/jquery-3.1.1.min.js"></script>
    <script src="~/Public/admins/js/popper.min.js"></script>
    <script src="~/Public/admins/js/bootstrap.js"></script>
    <script src="~/Public/admin/status/js/karma.laclac.min.js"></script>
    <script src="~/Public/admin/status/js/sweetalert2.min.js"></script>
    <script src="~/Public/admin/status/js/toastr.min.js"></script>
    <script>
        // Sự kiện kiểm tra Caps Lock
        document.getElementById('passwordInput').addEventListener('keyup', function (event) {
            var capsLockOn = event.getModifierState && event.getModifierState("CapsLock");
            var capsLockWarning = document.getElementById('capsLockWarning');
            capsLockWarning.style.display = capsLockOn ? "block" : "none";
        });
    </script>
    <script>
        $('#loginForm').submit(function (e) {
            e.preventDefault();

            var username = $('input[name="username"]').val();
            var password = $('input[name="password"]').val();

            $.post('/Admin/Auth/Login', {
                User: username,
                Pass: password,
                'g-recaptcha-response': grecaptcha.getResponse() // Gửi response của reCAPTCHA
            }, function (res) {
                if (res.s === 0) {
                    toastr.success('Đăng nhập thành công');
                    window.location.href = '/Admin/Dashboard';
                } else if (res.s === 1) {
                    toastr.error('Tài khoản không tồn tại');
                } else if (res.s === 2) {
                    toastr.error('Sai mật khẩu');
                } else if (res.s === 3) {
                    toastr.error('Vui lòng xác minh bạn không phải robot');
                }
            });

        });
    </script>

</body>

</html>
